In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
def read_csv(path):
    return pd.read_csv(path)

In [3]:
heart_df = read_csv("./heart.csv")
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
heart_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
X_train, X_test, y_train, y_test = train_test_split(heart_df.drop(["target"], axis=1), 
                                                    heart_df["target"], test_size=0.2)

In [6]:
def train_knn_model(n_neighbors, X_train, y_train, X_test, y_test):
    classifier = KNeighborsClassifier(n_neighbors=n_neighbors)
    model = classifier.fit(X_train, y_train)
    prediction = model.predict(X_test)
    result = generate_result_df(prediction)
    return classifier, model, prediction, result

In [7]:
def generate_result_df(prediction):
    return pd.DataFrame({ 'target': prediction.flatten() })

In [8]:
def score(model, X_test, y_test):
    return model.score(X_test, y_test)

In [9]:
classifier1, model1, prediction1, result1 = train_knn_model(30, X_train, y_train, X_test, y_test)
score(model1, X_test, y_test)

0.6557377049180327

In [10]:
def train_GaussianNB_model(X_train, y_train, X_test, y_test):
    classifier = GaussianNB()
    model = classifier.fit(X_train, y_train)
    prediction = model.predict(X_test)
    result = generate_result_df(prediction)
    return classifier, model, prediction, result

In [11]:
classifier2, model2, prediction2, result2 = train_GaussianNB_model(X_train, y_train, X_test, y_test)
score(model2, X_test, y_test)

0.7868852459016393